<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
 
        <!-- hibernate dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 
       <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
       <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/webstore</property>
       <property name="hibernate.connection.username">steven</property>
       <property name="hibernate.connection.password">12345678</property>
   
       <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
 
        <!-- Automatic schema creation (begin) === -->
        <property name="hibernate.hbm2ddl.auto">update</property>
 
        <!-- Simple memory-only cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
 
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
        <!-- ############################################ -->
        <!-- # mapping files with external dependencies # -->
        <!-- ############################################ -->
 
        <mapping resource="com/stevenlesoft/webstore/domain/Customer.hbm.xml" />
        <mapping resource="com/stevenlesoft/webstore/domain/Product.hbm.xml" />
        <mapping class="com.stevenlesoft.webstore.domain.Order"/>
 
    </session-factory>
</hibernate-configuration>